*/venv/*
*.*~
*.pyc
__pycache__/*

# yato
yato/data/*
yato/.idea/*
yato/settings_local.py
yato/output/*

# plume
plume/cmake-build-debug/*
plume/CMakeCache.txt
plume/CMakeFiles/*
plume/Makefile
plume/cmake_install.cmake
plume/compile_commands.json
